html {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: normal;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  color: aquamarine;
  font-weight: normal;
  text-decoration: underline;
}

.trademark {
  text-align: right;
}
